.container{
    width:460px;
    height:560px;
    background-color:rgb(35, 151, 228);
    margin: auto;
    padding:10px;
    border-radius: 10px;
}
P{
    color:bisque;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}
#screen{
    background-color: azure;
    height: 80px;
    width: 440px;
    margin: 5px;
    font-size:4rem;
    text-align: right;
    border-radius: 10px;
}
.button{
    background-color:grey;
    color:antiquewhite;
    width:92px;
    height:70px;
    font-size: 2.5rem;
    margin:6px;
    border-radius: 15px;
}
.clear{
    background-color: brown;
}
.result{
    background-color:green;
}
.operator{
    background-color:rgb(78, 56, 56);
}
.button:hover{
    border:5px solid greenyellow;
}
.Del{
    background-color: brown;
}

